*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --primary-color: #5170ff;
    --secondary-color: #38b6ff;
    --background-color: #eafffe;
    --main-color: #ffffff;
    --text-color: #333333;
}
body{
    font-family: Arial, sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    width: 100%;
}
#index-image{
    width: 3px;
    height: 3px;
    border-radius: 10px;
    margin-bottom: 20px;
}
